/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dosis/v14/HhyJU5sn9vOmLxNkIwRSjTVNWLEJN7Ml2xMB.ttf) format('truetype');
}
html,
body {
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
}
html{
  background-color: #313a3d;
  background-attachment: fixed, fixed;
  background-image: url("../img/overlay.png"), url("../img/detroit-img.jpg");
  /* Photo by Nadine Shaabana on Unsplash */
  background-position: top left, center center;
  background-repeat: repeat, none;
  background-size: auto, cover;
}
body {
  width: 75%;
  height: 75%;
  margin: 5% auto;
  background-color: rgba(245,245,245,0.8);
  max-width: 100%;
  border-radius: 5px;
}


p,
li {
  font-size: 2rem;
  margin: 2%;
}
th,
td {
  font-size: 1.6rem;
}
h2 {
  font-size: 2.7rem;
}
h3,
h4 {
  font-size: 2.4rem;
}

a {
  text-decoration: none;
  color: grey;
}

a :hover {
  color: royalblue;
}

header {
  margin: 5% auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 3rem;
}
@media (max-width: 500px) {
  header {
    flex-direction: column-reverse;
    margin: 10% auto;
  }
}
header .profile {
  text-align: center;
  padding-top: 25%;
}

address p{
  margin: 2% auto;
  font-size: 1.8rem;
}

address p i {
color:grey;
}


address a p {
  color: black;
}

.about {
  margin: 0 auto;
  padding: 25% 0;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}
@media (max-width: 500px) {
  .about {
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10% auto;
  }
}
@media (max-width: 500px) {
  .about div {
    margin: 10% auto;
  }
}

.about .statement {
  width: 75%;
  margin: 0 auto;
}

.about .statement p {
  text-indent: 20px;
}

.experience {
  margin: 0 5%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding-bottom: 25%;
}
@media (max-width: 500px) {
  .experience {
    flex-direction: column-reverse;
    flex-wrap: wrap;
    margin: 10% auto;
  }
}
.experience div {
  margin: 5% auto;
  width: 50%;
}
@media (max-width: 500px) {
  .experience div {
    margin: 5% auto;
    width: 95%;
  }
  .roush p, .optical p, .shields p, .wayne p {
    display: none;
    margin: 2%;
  }
}
.experience div h4 {
  font-size: 1.8rem;
}
.experience div h5 {
  font-size: 1.6rem;
}
.experience div p {
  font-size: 1.2rem;
  margin: 2%;
}
.icon-grid {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.icon-grid div {
  width:125px;
  height:125px;
  line-height: 150px;
  margin: 0;
  padding: 0; 
}

.experience .projects a {
  font-size: 1.8rem;
  font-weight: bold;
}
.experience .projects a:hover {
  color: royalblue;
}

.projects i {
  font-size: 5rem;
}

footer {
  padding: 2% 0;
  width: 100%;
  background-color: rgba(49,58,61, 0.4);
  font-size: 1.2rem;
  text-align: center;
  color: whitesmoke;
}

/* * { 
  outline: 1px solid red;
  outline-offset: -1px;
} */