/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dosis/v14/HhyJU5sn9vOmLxNkIwRSjTVNWLEJN7Ml2xMB.ttf) format('truetype');
}
html,
body {
  font-size: 62.5%;
  font-family: 'Inria Serif', serif;
}
html{
  background-color: grey;
}
body {
  width: 92.5%;
  height: 95%;
  margin: 2.5% auto;
  background-color: whitesmoke;
}
p,
li {
  font-size: 2rem;
  margin: 2%;
}
th,
td {
  font-size: 1.6rem;
}
h3,
h4 {
  font-size: 2.4rem;
}
.statement {
  margin: 5% 0;
}
nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 2%;
}
@media (max-width: 500px) {
  nav {
    width: 95%;
    margin: 0 auto;
  }
}
nav a {
  margin: 0 2%;
  text-decoration: none;
  font-size: 2rem;
  color: grey;
}

nav a:hover{
  color: #531c1f;
}

header {
  width: 85%;
  margin: 5% auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
@media (max-width: 500px) {
  header {
    flex-direction: column-reverse;
    margin: 10% auto;
  }
}
header .profile {
  text-align: center;
}
header .profile .profile-img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  object-position: 100% 0;
  border-radius: 100%;
  opacity: 0.9;
}
header .bio {
  margin: 0 0 0 5%;
}
address p{
  margin: 1% auto;
  font-size: 1.8rem;
}
header .bio h1 {
  font-size: 2.4rem;
}
header .bio h4 {
  font-size: 1.8rem;
}
header .bio .statement {
  margin: 3% 0;
  font-size: 1.4rem;
  width: 400px;
}
.about {
  margin: 10% auto;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}
@media (max-width: 500px) {
  .about {
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10% auto;
  }
}
@media (max-width: 500px) {
  .about div {
    margin: 10% auto;
  }
}

.about .listen .statement {
  width: 400px;
}

.about div h2 {
  font-size: 2rem;
}
.about .strengths {
  box-shadow: 5px 2px 15px grey; 
  padding: 2%;
}
.about .strengths ul {
  margin: 5% 0 0 5%;
}
.experience {
  margin: 5% 5%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.experience div {
  margin: 5% auto;
  width: 400px;
  padding: 2%;
}
.experience div h4 {
  font-size: 1.8rem;
}
.experience div h5 {
  font-size: 1.6rem;
}
.experience div p {
  font-size: 1.2rem;
  margin: 2%;
}
.experience .projects div {
  padding: 5%;
}
.experience .projects a {
  font-size: 1.8rem;
  text-decoration: none;
  color: grey;
  font-weight: bold;
}
.experience .projects a:hover {
  color: #531c1f;
}
footer {
  padding: 2% 0;
  width: 100%;
  background-color: #531c1f;
  text-align: center;
  color: antiquewhite;
}
